 .wiki{    
   color:black;
   font-weight: bold;   
}

body{
    font-family: 'Roboto', sans-serif;
     background-color:rgb(169,192,219);     
      text-align: center;  
    }

li{
    list-style: none;
    margin-left: -50px;
}

button,#password,#username{
    border-radius: 10px;
    margin-right: 30px;
    margin-left:30px;  
    border-color: orangered;
    color: rgb(13, 13, 64);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight:bolder;
    background-color:rgb(180, 202, 228); 
    
}  

.container{
    width: 49%;  
    height: 850px;  
    border: 1px solid black;
    float:left;
}
img{
    height: 350px;
    width: auto;
}

#btnLogin{
    margin-top: 30px;
}

#password{
    margin-top: 10px;
}